
.z-container{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}
.z-col {
    float: left;
    flex: 0 0 auto;
}
.z-col-12 {
    display: block;
    width: 100%;
}
.z-col-1 {
    display: block;
    width: 4.16666667%;
}
.z-col-0 {
    display: none;

}
@media (min-width: 576px){
    .z-col-12 {
        display: block;
        width: 100%;
    }
    .z-col-1 {
        display: block;
        width: 4.16666667%;
    }
    .z-col-0 {
        display: none;

    }
}
@media (min-width: 768px){
    .z-col-12 {
        display: block;
        width: 100%;
    }
    .z-col-1 {
        display: block;
        width: 10.16666667%;
    }
    .z-col-0 {
        display: none;

    }
}

@media (min-width: 992px){
    .z-col-1 {
        display: block;
        width: 83.33333333%;
    }
    .z-col-4 {
        display: block;
        width: 16.66666667%;
    }
}

@media (min-width: 1200px){
    .z-col-1 {
        display: block;
        width: 40.16666667%;
    }
}

